.md-header__button.md-logo img, .md-header__button.md-logo svg{
    height: 64px !important; /* Adjust the height as needed */
    width: auto; /* Keeps the aspect ratio */
}

.inline-image{
    width: 24px; 
    height: 24px; 
    vertical-align: middle; 
    margin-left: 5px;
}